html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}
#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vmin;
  height: 60vmin;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
}
#home {
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
  height: 36px;
  padding: 0 12px;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #404040;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#home:hover {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
#ui {
  position: absolute;
  top: 16px;
  right: 16px;
  overflow: auto;
  display: block;
  width: 240px;
  max-height: 50vh;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
}

/* set global scroll style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}
::-webkit-resizer {
  background-color: #f0f0f0;
}
